In [37]:
import pandas as pd
df = pd.read_csv(r"C:\Users\Erensu Akdogan\Downloads\marketing_customer_analysis_clean (3).csv")
df.drop(columns=['effective_to_date', 'unnamed:_0', 'customer'], inplace=True)
df=df.dropna()
df=df.drop_duplicates()

In [38]:
numerical = df.select_dtypes(include = 'number')

numerical.drop(columns=['total_claim_amount'], inplace=True) #this is our dependent

In [39]:
numerical

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,month
0,4809.216960,48029,61,7.000000,52,0.000000,9,2
1,2228.525238,0,64,3.000000,26,0.000000,1,1
2,14947.917300,22139,100,34.000000,31,0.000000,2,2
3,22332.439460,49078,97,10.000000,3,0.000000,2,1
4,9025.067525,23675,117,15.149071,31,0.384256,7,1
...,...,...,...,...,...,...,...,...
10905,15563.369440,0,253,15.149071,40,0.384256,7,1
10906,5259.444853,61146,65,7.000000,68,0.000000,6,1
10907,23893.304100,39837,201,11.000000,63,0.000000,2,2
10908,11971.977650,64195,158,0.000000,27,4.000000,6,2
10909,6857.519928,0,101,31.000000,1,0.000000,3,1

In [40]:
categoricals = df.select_dtypes(include = object)
categoricals

,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size,vehicle_type
0,Arizona,No,Basic,College,Employed,M,Suburban,Married,Corporate Auto,Corporate L3,Offer3,Agent,Four-Door Car,Medsize,A
1,California,No,Basic,College,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer4,Call Center,Four-Door Car,Medsize,A
2,Washington,No,Basic,Bachelor,Employed,M,Suburban,Single,Personal Auto,Personal L3,Offer3,Call Center,SUV,Medsize,A
3,Oregon,Yes,Extended,College,Employed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer2,Branch,Four-Door Car,Medsize,A
4,Oregon,No,Premium,Bachelor,Medical Leave,F,Suburban,Married,Personal Auto,Personal L2,Offer1,Branch,Four-Door Car,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,Nevada,No,Premium,Bachelor,Unemployed,F,Suburban,Married,Personal Auto,Personal L1,Offer3,Web,Luxury Car,Medsize,A
10906,Oregon,No,Basic,College,Employed,F,Urban,Married,Personal Auto,Personal L3,Offer2,Branch,Four-Door Car,Medsize,A
10907,Arizona,No,Extended,Bachelor,Employed,F,Rural,Married,Corporate Auto,Corporate L3,Offer1,Web,Luxury SUV,Medsize,A
10908,California,No,Premium,College,Employed,F,Urban,Divorced,Personal Auto,Personal L1,Offer1,Branch,SUV,Medsize,A
10909,California,No,Basic,Bachelor,Unemployed,M,Suburban,Single,Personal Auto,Personal L1,Offer4,Web,SUV,Medsize,A

In [41]:
ordinals = categoricals[["coverage","education","vehicle_size"]]
nominals = categoricals.drop(columns=["coverage","education","vehicle_size"])

In [42]:
#overriding the variables with ordinal encoding

from sklearn.preprocessing import OrdinalEncoder
enc1 = OrdinalEncoder(categories = [['Basic', 'Extended', 'Premium']])
ordinals['coverage']=enc1.fit_transform(ordinals[['coverage']])
enc2 = OrdinalEncoder(categories = [['High School or Below', 'Bachelor', 'College', 'Master', 'Doctor']])
ordinals['education']=enc2.fit_transform(ordinals[['education']])
enc3 = OrdinalEncoder(categories = [['Small', 'Medsize', 'Large']])
ordinals['vehicle_size']=enc3.fit_transform(ordinals[['vehicle_size']])
ordinals

C:\Users\Erensu Akdogan\AppData\Local\Temp\ipykernel_32400\3117646324.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ordinals['coverage']=enc1.fit_transform(ordinals[['coverage']])
C:\Users\Erensu Akdogan\AppData\Local\Temp\ipykernel_32400\3117646324.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ordinals['education']=enc2.fit_transform(ordinals[['education']])
C:\Users\Erensu Akdogan\AppData\Local\Temp\ipykernel_32400\3117646324.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ordinals['vehicle_size']=enc3.fit_transform(ordinals[['vehicle_size']])

       coverage  education  vehicle_size
0           0.0        2.0           1.0
1           0.0        2.0           1.0
2           0.0        1.0           1.0
3           1.0        2.0           1.0
4           2.0        1.0           1.0
...         ...        ...           ...
10905       2.0        1.0           1.0
10906       0.0        2.0           1.0
10907       1.0        1.0           1.0
10908       2.0        2.0           1.0
10909       0.0        1.0           1.0

[10302 rows x 3 columns]

In [43]:
#dummy vars for nominals
nominals=pd.get_dummies(nominals, dtype=int)
nominals

,state_Arizona,state_California,state_Nevada,state_Oregon,state_Washington,response_No,response_Yes,employmentstatus_Disabled,employmentstatus_Employed,employmentstatus_Medical Leave,...,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web,vehicle_class_Four-Door Car,vehicle_class_Luxury Car,vehicle_class_Luxury SUV,vehicle_class_SUV,vehicle_class_Sports Car,vehicle_class_Two-Door Car,vehicle_type_A
0,1,0,0,0,0,1,0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
1,0,1,0,0,0,1,0,0,0,0,...,0,1,0,1,0,0,0,0,0,1
2,0,0,0,0,1,1,0,0,1,0,...,0,1,0,0,0,0,1,0,0,1
3,0,0,0,1,0,0,1,0,1,0,...,1,0,0,1,0,0,0,0,0,1
4,0,0,0,1,0,1,0,0,0,1,...,1,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,0,0,1,0,0,1,0,0,0,0,...,0,0,1,0,1,0,0,0,0,1
10906,0,0,0,1,0,1,0,0,1,0,...,1,0,0,1,0,0,0,0,0,1
10907,1,0,0,0,0,1,0,0,1,0,...,0,0,1,0,0,1,0,0,0,1
10908,0,1,0,0,0,1,0,0,1,0,...,1,0,0,0,0,0,1,0,0,1
10909,0,1,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,1,0,0,1

In [44]:
ndf=pd.concat([nominals, ordinals, numerical], axis = 1)

In [45]:
ndf

,state_Arizona,state_California,state_Nevada,state_Oregon,state_Washington,response_No,response_Yes,employmentstatus_Disabled,employmentstatus_Employed,employmentstatus_Medical Leave,...,education,vehicle_size,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,month
0,1,0,0,0,0,1,0,0,1,0,...,2.0,1.0,4809.216960,48029,61,7.000000,52,0.000000,9,2
1,0,1,0,0,0,1,0,0,0,0,...,2.0,1.0,2228.525238,0,64,3.000000,26,0.000000,1,1
2,0,0,0,0,1,1,0,0,1,0,...,1.0,1.0,14947.917300,22139,100,34.000000,31,0.000000,2,2
3,0,0,0,1,0,0,1,0,1,0,...,2.0,1.0,22332.439460,49078,97,10.000000,3,0.000000,2,1
4,0,0,0,1,0,1,0,0,0,1,...,1.0,1.0,9025.067525,23675,117,15.149071,31,0.384256,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,0,0,1,0,0,1,0,0,0,0,...,1.0,1.0,15563.369440,0,253,15.149071,40,0.384256,7,1
10906,0,0,0,1,0,1,0,0,1,0,...,2.0,1.0,5259.444853,61146,65,7.000000,68,0.000000,6,1
10907,1,0,0,0,0,1,0,0,1,0,...,1.0,1.0,23893.304100,39837,201,11.000000,63,0.000000,2,2
10908,0,1,0,0,0,1,0,0,1,0,...,2.0,1.0,11971.977650,64195,158,0.000000,27,4.000000,6,2
10909,0,1,0,0,0,1,0,0,0,0,...,1.0,1.0,6857.519928,0,101,31.000000,1,0.000000,3,1

In [25]:
# #drop nas\duplicates
# ndf=ndf.dropna()
# ndf=ndf.drop_duplicates()

# ndf

,state_Arizona,state_California,state_Nevada,state_Oregon,state_Washington,response_No,response_Yes,employmentstatus_Disabled,employmentstatus_Employed,employmentstatus_Medical Leave,...,education,vehicle_size,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,month
0,1,0,0,0,0,1,0,0,1,0,...,2.0,1.0,4809.216960,48029,61,7.000000,52,0.000000,9,2
1,0,1,0,0,0,1,0,0,0,0,...,2.0,1.0,2228.525238,0,64,3.000000,26,0.000000,1,1
2,0,0,0,0,1,1,0,0,1,0,...,1.0,1.0,14947.917300,22139,100,34.000000,31,0.000000,2,2
3,0,0,0,1,0,0,1,0,1,0,...,2.0,1.0,22332.439460,49078,97,10.000000,3,0.000000,2,1
4,0,0,0,1,0,1,0,0,0,1,...,1.0,1.0,9025.067525,23675,117,15.149071,31,0.384256,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,0,0,1,0,0,1,0,0,0,0,...,1.0,1.0,15563.369440,0,253,15.149071,40,0.384256,7,1
10906,0,0,0,1,0,1,0,0,1,0,...,2.0,1.0,5259.444853,61146,65,7.000000,68,0.000000,6,1
10907,1,0,0,0,0,1,0,0,1,0,...,1.0,1.0,23893.304100,39837,201,11.000000,63,0.000000,2,2
10908,0,1,0,0,0,1,0,0,1,0,...,2.0,1.0,11971.977650,64195,158,0.000000,27,4.000000,6,2
10909,0,1,0,0,0,1,0,0,0,0,...,1.0,1.0,6857.519928,0,101,31.000000,1,0.000000,3,1

In [46]:
# X-Y Split:
X=ndf
y=df[['total_claim_amount']]

In [47]:
#Train-test split:

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=42)

In [48]:
#Standardize the data (after the data split!).
from sklearn.preprocessing import MinMaxScaler, StandardScaler
scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train) #fits scaler, transforms X_train.
X_test = scaler.transform(X_test) # transforms X_test

In [64]:
#Apply linear regression.
from sklearn.linear_model import LinearRegression
lm = LinearRegression() # fit_intercept = True
model = lm.fit(X_train , y_train)
model.coef_

array([[ 2.96339769e+11,  2.96339769e+11,  2.96339769e+11,
         2.96339769e+11,  2.96339769e+11,  1.83462834e+15,
         1.83462834e+15,  4.73478458e+14,  4.73478458e+14,
         4.73478458e+14,  4.73478458e+14,  4.73478458e+14,
        -4.17267992e+14, -4.17267992e+14,  1.37671345e+15,
         1.37671345e+15,  1.37671345e+15, -7.24972956e+14,
        -7.24972956e+14, -7.24972956e+14, -5.39671533e+14,
         1.42395915e+15, -8.76648631e+14, -5.20120742e+13,
        -5.20120742e+13, -5.20120742e+13, -2.01564276e+15,
        -2.01564276e+15, -2.01564276e+15,  2.84965024e+14,
         2.84965024e+14,  2.84965024e+14,  1.73387838e+14,
         1.73387838e+14,  1.73387838e+14,  1.73387838e+14,
         5.82263286e+14,  5.82263286e+14,  5.82263286e+14,
         5.82263286e+14, -1.87706506e+14, -1.87706506e+14,
        -1.87706506e+14, -1.87706506e+14, -1.87706506e+14,
        -1.87706506e+14,  0.00000000e+00, -2.24375000e+01,
        -2.78398438e+01,  4.06250000e-01,  1.67968750e+00,
        -2.01250000e+01,  1.27631250e+03,  8.65625000e+00,
         2.38281250e-01, -4.40625000e+00,  7.75000000e+00,
         7.50000000e-01]])

In [51]:
#error tests

y_pred = model.predict(X_test)
y_pred = pd.DataFrame(y_pred)
y_test = y_test.reset_index(drop=True)
residuals_df=pd.concat([y_test, y_pred], axis = 1)

residuals_df=residuals_df.rename(columns={"total_claim_amount" : "y_test", 0 : "y_pred"})
residuals_df

           y_test  y_pred
0      432.408100   475.5
1      511.200000   383.5
2      325.395532   213.5
3      480.578584   382.5
4     1452.213743   997.5
...           ...     ...
2571   379.029102   362.0
2572    17.375878    43.5
2573   355.200000   403.5
2574   553.503610   449.0
2575   513.600000   638.5

[2576 rows x 2 columns]

In [65]:
from sklearn.metrics import mean_squared_error as mse , mean_absolute_error as mae

In [66]:
mse(y_test,y_pred)

18347.091881902637

In [67]:
mae(y_test,y_pred)

93.59480054153727

In [68]:
rmse = mse(y_test,y_pred, squared = False)
rmse

135.45143735635529

In [69]:
#R score
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.7954630747734581

In [70]:
y_pred_train = model.predict(X_train)
r2_score(y_train,y_pred_train)

0.7630537652439726

In [60]:
feature_names = list(X_train.columns)
coefficients = model.coef_
coefficients = [i for i in coefficients[0]]
fi_dict = {"name":feature_names,"coeff":coefficients}
fi_df = pd.DataFrame(fi_dict)
fi_df

AttributeError: 'numpy.ndarray' object has no attribute 'columns'

In [62]:
import numpy as np
import statsmodels.api as sm
model3 = sm.OLS(y, X).fit()

In [63]:
print(model3.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:     total_claim_amount   R-squared:                       0.772
Model:                            OLS   Adj. R-squared:                  0.771
Method:                 Least Squares   F-statistic:                     789.4
Date:                Mon, 19 Feb 2024   Prob (F-statistic):               0.00
Time:                        16:34:57   Log-Likelihood:                -65543.
No. Observations:               10302   AIC:                         1.312e+05
Df Residuals:                   10257   BIC:                         1.315e+05
Df Model:                          44
Covariance Type:            nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
state_Arizona                     -8.9726      3.111     -2.884      0.004     -15.072      -2.874
state_California                  -4.1378      2.527     -1.638      0.102      -9.091       0.815
state_Nevada                      -3.3744      3.995     -0.845      0.398     -11.206       4.457
state_Oregon                      -9.8443      2.755     -3.573      0.000     -15.244      -4.444
state_Washington                  -0.5923      4.173     -0.142      0.887      -8.772       7.587
response_No                       -0.6623      3.022     -0.219      0.826      -6.585       5.260
response_Yes                     -26.2591      3.329     -7.888      0.000     -32.785     -19.733
employmentstatus_Disabled        -17.6784      5.787     -3.055      0.002     -29.023      -6.334
employmentstatus_Employed        -26.3628      4.075     -6.470      0.000     -34.350     -18.376
employmentstatus_Medical Leave    -4.4495      5.736     -0.776      0.438     -15.694       6.795
employmentstatus_Retired         -27.2966      7.190     -3.796      0.000     -41.391     -13.203
employmentstatus_Unemployed       48.8660      4.007     12.194      0.000      41.011      56.721
gender_F                         -21.5045      2.593     -8.292      0.000     -26.588     -16.421
gender_M                          -5.4169      2.618     -2.069      0.039     -10.549      -0.284
location_code_Rural             -209.8662      2.991    -70.159      0.000    -215.730    -204.003
location_code_Suburban           170.7541      2.531     67.457      0.000     165.792     175.716
location_code_Urban               12.1906      3.052      3.994      0.000       6.208      18.173
marital_status_Divorced          -28.9427      3.124     -9.266      0.000     -35.065     -22.820
marital_status_Married           -34.7259      2.454    -14.148      0.000     -39.537     -29.915
marital_status_Single             36.7472      2.838     12.946      0.000      31.183      42.311
policy_type_Corporate Auto       -15.1218      2.842     -5.322      0.000     -20.692      -9.552
policy_type_Personal Auto        -12.7593      2.514     -5.076      0.000     -17.687      -7.832
policy_type_Special Auto           0.9597      4.221      0.227      0.820      -7.314       9.233
policy_Corporate L1               -4.1436      5.440     -0.762      0.446     -14.808       6.520
policy_Corporate L2               -7.2237      4.634     -1.559      0.119     -16.307       1.860
policy_Corporate L3               -3.7545      3.936     -0.954      0.340     -11.470       3.961
policy_Personal L1                -0.3337      2.999     -0.111      0.911      -6.211       5.544
policy_Personal L2                -5.9998      2.530     -2.371      0.018     -10.960      -1.040
policy_Personal L3                -6.4258      2.242     -2.866      0.004     -10.821      -2.030
policy_Special L1                 35.3503     12.523      2.823      0.005      10.803      59.898
policy_Special L2                -16.4645      9.336     -1.764      0.078     -34.764       1.835
policy_Special L3                -17.9261      9.575     -1.872      0.061     -36.695       0.842
renew_offer_type_Offer1          -15.0797      2.580     -5.844      0.000     -20.137     -10.022
renew_offer_type_Offer2            1.3136      2.627      0.500      0.617      -3.836       6.463
renew_offer_type_Offer3           -5.4149      3.143     -1.723      0.085     -11.576       0.746
renew_offer_type_Offer4           -7.7405      3.608     -2.145      0.032     -14.813      -0.667
sales_channel_Agent               -7.4176      2.432     -3.049      0.002     -12.186      -2.650
sales_channel_Branch              -6.7808      2.603     -2.605      0.009     -11.884      -1.678
sales_channel_Call Center         -7.5887      2.912     -2.606      0.009     -13.296      -1.881
sales_channel_Web                 -5.1344      3.185     -1.612      0.107     -11.377       1.109
vehicle_class_Four-Door Car        1.4803      7.549      0.196      0.845     -13.317      16.278
vehicle_class_Luxury Car          23.8659     13.706      1.741      0.082      -3.000      50.732
vehicle_class_Luxury SUV         -10.3230     13.447     -0.768      0.443     -36.681      16.035
vehicle_class_SUV                -16.2952      4.009     -4.065      0.000     -24.153      -8.437
vehicle_class_Sports Car         -27.2702      5.887     -4.633      0.000     -38.809     -15.731
vehicle_class_Two-Door Car         1.6207      8.002      0.203      0.839     -14.064      17.306
vehicle_type_A                   -26.9214      4.397     -6.122      0.000     -35.541     -18.302
coverage                          -8.5048      3.701     -2.298      0.022     -15.759      -1.250
education                         -7.2259      1.308     -5.525      0.000      -9.790      -4.662
vehicle_size                      -0.6406      2.666     -0.240      0.810      -5.866       4.585
customer_lifetime_value        -8.849e-05      0.000     -0.400      0.689      -0.001       0.000
income                            -0.0003   8.14e-05     -3.196      0.001      -0.000      -0.000
monthly_premium_auto               5.2419      0.133     39.324      0.000       4.981       5.503
months_since_last_claim            0.3715      0.142      2.615      0.009       0.093       0.650
months_since_policy_inception     -0.0037      0.050     -0.075      0.940      -0.102       0.094
number_of_open_complaints         -1.3380      1.569     -0.853      0.394      -4.413       1.737
number_of_policies                 0.7412      0.583      1.270      0.204      -0.403       1.885
month                              0.4924      2.783      0.177      0.860      -4.964       5.948
==============================================================================
Omnibus:                     4539.999   Durbin-Watson:                   1.977
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            57067.602
Skew:                           1.775   Prob(JB):                         0.00
Kurtosis:                      13.970   Cond. No.                     3.53e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.97e-22. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [71]:
# LASSO 

from sklearn.linear_model import Lasso,Ridge,ElasticNet, LinearRegression
model=Lasso(alpha=0)

model.fit(X_train, y_train)
print(f"{model.__class__.__name__}: Train -> {model.score(X_train, y_train)}, Test -> {model.score(X_test, y_test)}")

C:\Anaconda\Lib\site-packages\sklearn\base.py:1151: UserWarning: With alpha=0, this algorithm does not converge well. You are advised to use the LinearRegression estimator
  return fit_method(estimator, *args, **kwargs)
C:\Anaconda\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: UserWarning: Coordinate descent with no regularization may lead to unexpected results and is discouraged.
  model = cd_fast.enet_coordinate_descent(

Lasso: Train -> 0.7631030764649075, Test -> 0.7953418539285501

C:\Anaconda\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 7.784e+07, tolerance: 6.572e+04 Linear regression models with null weight for the l1 regularization term are more efficiently fitted using one of the solvers implemented in sklearn.linear_model.Ridge/RidgeCV instead.
  model = cd_fast.enet_coordinate_descent(

In [72]:
#Ridge
model=Ridge(alpha=0)
model.fit(X_train, y_train)
print(f"{model.__class__.__name__}: Train -> {model.score(X_train, y_train)}, Test -> {model.score(X_test, y_test)}")

Ridge: Train -> 0.762289204239164, Test -> 0.7948824843583219

In [73]:
#OLS 
model=LinearRegression()
model.fit(X_train, y_train)
print(f"{model.__class__.__name__}: Train -> {model.score(X_train, y_train)}, Test -> {model.score(X_test, y_test)}")

LinearRegression: Train -> 0.7630537652439726, Test -> 0.7954630747734581

In [84]:
models = [Ridge(), LinearRegression(), Lasso()]

In [100]:
models = [Ridge(), LinearRegression(), Lasso()]
def run_all():
    for i in models: 
        model = i
        model.fit(X_train, y_train)
        print(f"{model.__class__.__name__}: Train -> {model.score(X_train, y_train)}, Test -> {model.score(X_test, y_test)}")

In [98]:
model.fit(X_train, y_train) 
print(f"{model.__class__.__name__}: Train -> {model.score(X_train, y_train)}, Test -> {model.score(X_test, y_test)}")

Ridge: Train -> 0.7629442687133009, Test -> 0.795715144014312

In [101]:
run_all()

Ridge: Train -> 0.7629442687133009, Test -> 0.795715144014312
LinearRegression: Train -> 0.7630537652439726, Test -> 0.7954630747734581
Lasso: Train -> 0.760537614441228, Test -> 0.7901113798892653

In [102]:
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE  ## recursive feature elemination technique

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

X_train = X_train.select_dtypes(include=np.number)
X_test  = X_test.select_dtypes(include=np.number)

X_train = pd.DataFrame(X_train, columns=X.columns)
X_test  = pd.DataFrame(X_test, columns=X.columns)

#X_train.isna().sum()
nulls = pd.DataFrame(X_train.isna().sum()).reset_index()
#nulls.head()
nulls.columns = ['Column','nas']
#nulls.head()
#nulls[nulls['nas'] > 0].head()
cols_to_drop = nulls[nulls['nas'] > 0]['Column'] # Too drastic, but made on pourpose for quick filtering (don't do this in production!!)

X_train.drop(columns=cols_to_drop, axis=1, inplace = True)
X_test.drop(columns=cols_to_drop, axis=1, inplace = True)

#display(X_train)

lm = LinearRegression()

selector = RFE(lm, n_features_to_select= 8, step = 1, verbose = 1) #Â Step is how many features to add or drop everytime
selector.fit(X_train, y_train)

kept_features = selector.get_support(indices = True) #returns an array of integers corresponding to nonremoved features
kept_features = list(X_train.iloc[:,kept_features].columns)

X_train = selector.transform(X_train)
X_test  = selector.transform(X_test)

X_train = pd.DataFrame(X_train, columns=kept_features)
X_test  = pd.DataFrame(X_test, columns=kept_features)

print("Final selected features: ")
display(X_train)

Fitting estimator with 58 features.
Fitting estimator with 57 features.
Fitting estimator with 56 features.
Fitting estimator with 55 features.
Fitting estimator with 54 features.
Fitting estimator with 53 features.
Fitting estimator with 52 features.
Fitting estimator with 51 features.
Fitting estimator with 50 features.
Fitting estimator with 49 features.
Fitting estimator with 48 features.
Fitting estimator with 47 features.
Fitting estimator with 46 features.
Fitting estimator with 45 features.
Fitting estimator with 44 features.
Fitting estimator with 43 features.
Fitting estimator with 42 features.
Fitting estimator with 41 features.
Fitting estimator with 40 features.
Fitting estimator with 39 features.
Fitting estimator with 38 features.
Fitting estimator with 37 features.
Fitting estimator with 36 features.
Fitting estimator with 35 features.
Fitting estimator with 34 features.
Fitting estimator with 33 features.
Fitting estimator with 32 features.
Fitting estimator with 31 features.
Fitting estimator with 30 features.
Fitting estimator with 29 features.
Fitting estimator with 28 features.
Fitting estimator with 27 features.
Fitting estimator with 26 features.
Fitting estimator with 25 features.
Fitting estimator with 24 features.
Fitting estimator with 23 features.
Fitting estimator with 22 features.
Fitting estimator with 21 features.
Fitting estimator with 20 features.
Fitting estimator with 19 features.
Fitting estimator with 18 features.
Fitting estimator with 17 features.
Fitting estimator with 16 features.
Fitting estimator with 15 features.
Fitting estimator with 14 features.
Fitting estimator with 13 features.
Fitting estimator with 12 features.
Fitting estimator with 11 features.
Fitting estimator with 10 features.
Fitting estimator with 9 features.
Final selected features:

,employmentstatus_Unemployed,location_code_Rural,location_code_Suburban,marital_status_Single,vehicle_class_Four-Door Car,vehicle_class_Luxury SUV,vehicle_class_Two-Door Car,coverage
0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,2.0
1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
8236,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
8237,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0
8238,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
8239,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
8240,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [103]:
run_all()

Ridge: Train -> 0.6793794678980463, Test -> 0.6995151525828007
LinearRegression: Train -> 0.6793812090523199, Test -> 0.6996374629778792
Lasso: Train -> 0.678482405103791, Test -> 0.6955173744727683