In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\Erensu Akdogan\Downloads\marketing_customer_analysis_clean (3).csv")
df.drop(columns=['effective_to_date', 'unnamed:_0', 'customer'], inplace=True)

In [2]:
numerical = df.select_dtypes(include = 'number')

numerical.drop(columns=['total_claim_amount'], inplace=True) #this is our dependent

In [3]:
numerical

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,month
0,4809.216960,48029,61,7.000000,52,0.000000,9,2
1,2228.525238,0,64,3.000000,26,0.000000,1,1
2,14947.917300,22139,100,34.000000,31,0.000000,2,2
3,22332.439460,49078,97,10.000000,3,0.000000,2,1
4,9025.067525,23675,117,15.149071,31,0.384256,7,1
...,...,...,...,...,...,...,...,...
10905,15563.369440,0,253,15.149071,40,0.384256,7,1
10906,5259.444853,61146,65,7.000000,68,0.000000,6,1
10907,23893.304100,39837,201,11.000000,63,0.000000,2,2
10908,11971.977650,64195,158,0.000000,27,4.000000,6,2
10909,6857.519928,0,101,31.000000,1,0.000000,3,1

In [4]:
categoricals = df.select_dtypes(include = object)
categoricals

,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size,vehicle_type
0,Arizona,No,Basic,College,Employed,M,Suburban,Married,Corporate Auto,Corporate L3,Offer3,Agent,Four-Door Car,Medsize,A
1,California,No,Basic,College,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer4,Call Center,Four-Door Car,Medsize,A
2,Washington,No,Basic,Bachelor,Employed,M,Suburban,Single,Personal Auto,Personal L3,Offer3,Call Center,SUV,Medsize,A
3,Oregon,Yes,Extended,College,Employed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer2,Branch,Four-Door Car,Medsize,A
4,Oregon,No,Premium,Bachelor,Medical Leave,F,Suburban,Married,Personal Auto,Personal L2,Offer1,Branch,Four-Door Car,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,Nevada,No,Premium,Bachelor,Unemployed,F,Suburban,Married,Personal Auto,Personal L1,Offer3,Web,Luxury Car,Medsize,A
10906,Oregon,No,Basic,College,Employed,F,Urban,Married,Personal Auto,Personal L3,Offer2,Branch,Four-Door Car,Medsize,A
10907,Arizona,No,Extended,Bachelor,Employed,F,Rural,Married,Corporate Auto,Corporate L3,Offer1,Web,Luxury SUV,Medsize,A
10908,California,No,Premium,College,Employed,F,Urban,Divorced,Personal Auto,Personal L1,Offer1,Branch,SUV,Medsize,A
10909,California,No,Basic,Bachelor,Unemployed,M,Suburban,Single,Personal Auto,Personal L1,Offer4,Web,SUV,Medsize,A

In [5]:
ordinals = categoricals[["coverage","education","vehicle_size"]]
nominals = categoricals.drop(columns=["coverage","education","vehicle_size"])

In [6]:
#overriding the variables with ordinal encoding

from sklearn.preprocessing import OrdinalEncoder
enc1 = OrdinalEncoder(categories = [['Basic', 'Extended', 'Premium']])
ordinals['coverage']=enc1.fit_transform(ordinals[['coverage']])
enc2 = OrdinalEncoder(categories = [['High School or Below', 'Bachelor', 'College', 'Master', 'Doctor']])
ordinals['education']=enc2.fit_transform(ordinals[['education']])
enc3 = OrdinalEncoder(categories = [['Small', 'Medsize', 'Large']])
ordinals['vehicle_size']=enc3.fit_transform(ordinals[['vehicle_size']])
ordinals

C:\Users\Erensu Akdogan\AppData\Local\Temp\ipykernel_16016\3117646324.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ordinals['coverage']=enc1.fit_transform(ordinals[['coverage']])
C:\Users\Erensu Akdogan\AppData\Local\Temp\ipykernel_16016\3117646324.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ordinals['education']=enc2.fit_transform(ordinals[['education']])
C:\Users\Erensu Akdogan\AppData\Local\Temp\ipykernel_16016\3117646324.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ordinals['vehicle_size']=enc3.fit_transform(ordinals[['vehicle_size']])

       coverage  education  vehicle_size
0           0.0        2.0           1.0
1           0.0        2.0           1.0
2           0.0        1.0           1.0
3           1.0        2.0           1.0
4           2.0        1.0           1.0
...         ...        ...           ...
10905       2.0        1.0           1.0
10906       0.0        2.0           1.0
10907       1.0        1.0           1.0
10908       2.0        2.0           1.0
10909       0.0        1.0           1.0

[10910 rows x 3 columns]

In [7]:
#dummy vars for nominals
nominals=pd.get_dummies(nominals, dtype=int)
nominals

,state_Arizona,state_California,state_Nevada,state_Oregon,state_Washington,response_No,response_Yes,employmentstatus_Disabled,employmentstatus_Employed,employmentstatus_Medical Leave,...,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web,vehicle_class_Four-Door Car,vehicle_class_Luxury Car,vehicle_class_Luxury SUV,vehicle_class_SUV,vehicle_class_Sports Car,vehicle_class_Two-Door Car,vehicle_type_A
0,1,0,0,0,0,1,0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
1,0,1,0,0,0,1,0,0,0,0,...,0,1,0,1,0,0,0,0,0,1
2,0,0,0,0,1,1,0,0,1,0,...,0,1,0,0,0,0,1,0,0,1
3,0,0,0,1,0,0,1,0,1,0,...,1,0,0,1,0,0,0,0,0,1
4,0,0,0,1,0,1,0,0,0,1,...,1,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,0,0,1,0,0,1,0,0,0,0,...,0,0,1,0,1,0,0,0,0,1
10906,0,0,0,1,0,1,0,0,1,0,...,1,0,0,1,0,0,0,0,0,1
10907,1,0,0,0,0,1,0,0,1,0,...,0,0,1,0,0,1,0,0,0,1
10908,0,1,0,0,0,1,0,0,1,0,...,1,0,0,0,0,0,1,0,0,1
10909,0,1,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,1,0,0,1

In [9]:
ndf=pd.concat([nominals, ordinals, numerical], axis = 1)

In [10]:
ndf

,state_Arizona,state_California,state_Nevada,state_Oregon,state_Washington,response_No,response_Yes,employmentstatus_Disabled,employmentstatus_Employed,employmentstatus_Medical Leave,...,education,vehicle_size,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,month
0,1,0,0,0,0,1,0,0,1,0,...,2.0,1.0,4809.216960,48029,61,7.000000,52,0.000000,9,2
1,0,1,0,0,0,1,0,0,0,0,...,2.0,1.0,2228.525238,0,64,3.000000,26,0.000000,1,1
2,0,0,0,0,1,1,0,0,1,0,...,1.0,1.0,14947.917300,22139,100,34.000000,31,0.000000,2,2
3,0,0,0,1,0,0,1,0,1,0,...,2.0,1.0,22332.439460,49078,97,10.000000,3,0.000000,2,1
4,0,0,0,1,0,1,0,0,0,1,...,1.0,1.0,9025.067525,23675,117,15.149071,31,0.384256,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,0,0,1,0,0,1,0,0,0,0,...,1.0,1.0,15563.369440,0,253,15.149071,40,0.384256,7,1
10906,0,0,0,1,0,1,0,0,1,0,...,2.0,1.0,5259.444853,61146,65,7.000000,68,0.000000,6,1
10907,1,0,0,0,0,1,0,0,1,0,...,1.0,1.0,23893.304100,39837,201,11.000000,63,0.000000,2,2
10908,0,1,0,0,0,1,0,0,1,0,...,2.0,1.0,11971.977650,64195,158,0.000000,27,4.000000,6,2
10909,0,1,0,0,0,1,0,0,0,0,...,1.0,1.0,6857.519928,0,101,31.000000,1,0.000000,3,1

In [77]:
#drop nas\duplicates
ndf=df.dropna()
ndf=df.drop_duplicates()

ndf

,state,customer_lifetime_value,response,coverage,education,employmentstatus,gender,income,location_code,marital_status,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,Arizona,4809.216960,No,Basic,College,Employed,M,48029,Suburban,Married,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,California,2228.525238,No,Basic,College,Unemployed,F,0,Suburban,Single,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,Washington,14947.917300,No,Basic,Bachelor,Employed,M,22139,Suburban,Single,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,Oregon,22332.439460,Yes,Extended,College,Employed,M,49078,Suburban,Single,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,Oregon,9025.067525,No,Premium,Bachelor,Medical Leave,F,23675,Suburban,Married,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,Nevada,15563.369440,No,Premium,Bachelor,Unemployed,F,0,Suburban,Married,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,Oregon,5259.444853,No,Basic,College,Employed,F,61146,Urban,Married,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,Arizona,23893.304100,No,Extended,Bachelor,Employed,F,39837,Rural,Married,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A,2
10908,California,11971.977650,No,Premium,College,Employed,F,64195,Urban,Divorced,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,California,6857.519928,No,Basic,Bachelor,Unemployed,M,0,Suburban,Single,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,A,1

In [11]:
# X-Y Split:
X=ndf
y=df[['total_claim_amount']]

In [29]:
#Train-test split:

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=42)

In [30]:
#Standardize the data (after the data split!).
from sklearn.preprocessing import MinMaxScaler, StandardScaler
scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train) #fits scaler, transforms X_train.
X_test = scaler.transform(X_test) # transforms X_test

In [31]:
#Apply linear regression.
from sklearn.linear_model import LinearRegression
lm = LinearRegression() # fit_intercept = True
model = lm.fit(X_train , y_train)
model.coef_

array([[ 7.54405474e+11,  7.54405474e+11,  7.54405474e+11,
         7.54405474e+11,  7.54405474e+11,  1.01622163e+15,
         1.01622163e+15, -1.37767441e+15, -1.37767441e+15,
        -1.37767441e+15, -1.37767441e+15, -1.37767441e+15,
         6.79432650e+13,  6.79432650e+13, -2.61557754e+15,
        -2.61557754e+15, -2.61557754e+15,  7.15432421e+14,
         7.15432421e+14,  7.15432421e+14,  9.38528591e+14,
         1.68190116e+15,  4.70226733e+14, -2.81427097e+14,
        -2.81427097e+14, -2.81427097e+14, -1.02479966e+15,
        -1.02479966e+15, -1.02479966e+15,  1.86874761e+14,
         1.86874761e+14,  1.86874761e+14, -3.95788661e+14,
        -3.95788661e+14, -3.95788661e+14, -3.95788661e+14,
         9.03191281e+13,  9.03191281e+13,  9.03191281e+13,
         9.03191281e+13, -7.14317538e+14, -7.14317538e+14,
        -7.14317538e+14, -7.14317538e+14, -7.14317538e+14,
        -7.14317538e+14, -1.00000000e+00, -1.77343750e+01,
        -2.78281250e+01, -1.03125000e+00, -1.39716797e+01,
        -3.05625000e+01,  1.24945312e+03,  1.41875000e+01,
        -1.14062500e+00, -7.59375000e+00,  7.18750000e+00,
        -2.25000000e+00]])

In [32]:
#error tests

y_pred = model.predict(X_test)
y_pred = pd.DataFrame(y_pred)
y_test = y_test.reset_index(drop=True)
residuals_df=pd.concat([y_test, y_pred], axis = 1)

residuals_df=residuals_df.rename(columns={"total_claim_amount" : "y_test", 0 : "y_pred"})
residuals_df

          y_test  y_pred
0     475.423848   382.0
1     350.400000   435.0
2     482.400000   551.0
3     673.342650   573.0
4     302.400000   326.0
...          ...     ...
2723  460.266881   543.5
2724  405.883346   418.5
2725   41.182611    21.5
2726  364.800000   488.0
2727   89.411365   -46.5

[2728 rows x 2 columns]

In [33]:
from sklearn.metrics import mean_squared_error as mse , mean_absolute_error as mae

In [34]:
mse(y_test,y_pred)

19173.20583024619

In [35]:
mae(y_test,y_pred)

95.74711517008798

In [36]:
rmse = mse(y_test,y_pred, squared = False)
rmse

138.46734571820963

In [37]:
#R score
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.7693043507365096

In [42]:
y_pred_train = model.predict(X_train)
r2_score(y_train,y_pred_train)

0.7705616589673776

In [44]:
feature_names = list(X_train.columns)
coefficients = model.coef_
coefficients = [i for i in coefficients[0]]
fi_dict = {"name":feature_names,"coeff":coefficients}
fi_df = pd.DataFrame(fi_dict)
fi_df

AttributeError: 'numpy.ndarray' object has no attribute 'columns'

In [50]:
import numpy as np
import statsmodels.api as sm
model3 = sm.OLS(y, X).fit()

In [51]:
print(model3.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:     total_claim_amount   R-squared:                       0.771
Model:                            OLS   Adj. R-squared:                  0.770
Method:                 Least Squares   F-statistic:                     830.0
Date:                Wed, 31 Jan 2024   Prob (F-statistic):               0.00
Time:                        16:55:10   Log-Likelihood:                -69387.
No. Observations:               10910   AIC:                         1.389e+05
Df Residuals:                   10865   BIC:                         1.392e+05
Df Model:                          44
Covariance Type:            nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
state_Arizona                    -10.0639      3.047     -3.302      0.001     -16.037      -4.090
state_California                  -5.2051      2.438     -2.135      0.033      -9.984      -0.426
state_Nevada                      -4.3642      3.915     -1.115      0.265     -12.038       3.309
state_Oregon                     -10.1102      2.694     -3.752      0.000     -15.392      -4.829
state_Washington                  -0.2824      4.109     -0.069      0.945      -8.338       7.773
response_No                       -2.3207      2.893     -0.802      0.422      -7.992       3.350
response_Yes                     -27.7051      3.171     -8.737      0.000     -33.921     -21.489
employmentstatus_Disabled        -18.3842      5.599     -3.284      0.001     -29.359      -7.410
employmentstatus_Employed        -27.4749      3.936     -6.981      0.000     -35.190     -19.760
employmentstatus_Medical Leave    -4.5980      5.537     -0.830      0.406     -15.451       6.255
employmentstatus_Retired         -27.0079      6.816     -3.963      0.000     -40.368     -13.648
employmentstatus_Unemployed       47.4392      3.874     12.246      0.000      39.845      55.033
gender_F                         -23.0770      2.516     -9.171      0.000     -28.009     -18.144
gender_M                          -6.9488      2.544     -2.731      0.006     -11.936      -1.961
location_code_Rural             -210.4388      2.903    -72.493      0.000    -216.129    -204.749
location_code_Suburban           168.8056      2.459     68.638      0.000     163.985     173.626
location_code_Urban               11.6074      2.959      3.922      0.000       5.807      17.408
marital_status_Divorced          -29.7536      3.020     -9.853      0.000     -35.673     -23.834
marital_status_Married           -35.3329      2.372    -14.897      0.000     -39.982     -30.684
marital_status_Single             35.0607      2.753     12.737      0.000      29.665      40.457
policy_type_Corporate Auto       -16.0011      2.766     -5.785      0.000     -21.423     -10.579
policy_type_Personal Auto        -13.5294      2.449     -5.525      0.000     -18.329      -8.729
policy_type_Special Auto          -0.4953      4.120     -0.120      0.904      -8.571       7.581
policy_Corporate L1               -3.1574      5.289     -0.597      0.551     -13.526       7.211
policy_Corporate L2               -8.9365      4.508     -1.982      0.047     -17.773      -0.100
policy_Corporate L3               -3.9072      3.831     -1.020      0.308     -11.417       3.602
policy_Personal L1                -0.5135      2.930     -0.175      0.861      -6.256       5.229
policy_Personal L2                -6.2362      2.454     -2.541      0.011     -11.047      -1.426
policy_Personal L3                -6.7796      2.171     -3.123      0.002     -11.035      -2.524
policy_Special L1                 33.1697     12.245      2.709      0.007       9.167      57.172
policy_Special L2                -15.8509      9.047     -1.752      0.080     -33.584       1.882
policy_Special L3                -17.8141      9.402     -1.895      0.058     -36.243       0.615
renew_offer_type_Offer1          -15.6534      2.511     -6.235      0.000     -20.575     -10.732
renew_offer_type_Offer2            1.1216      2.553      0.439      0.660      -3.883       6.126
renew_offer_type_Offer3           -6.9808      3.055     -2.285      0.022     -12.970      -0.991
renew_offer_type_Offer4           -8.5132      3.520     -2.419      0.016     -15.413      -1.614
sales_channel_Agent               -8.1127      2.358     -3.440      0.001     -12.735      -3.490
sales_channel_Branch              -6.9561      2.530     -2.750      0.006     -11.915      -1.998
sales_channel_Call Center         -8.6470      2.821     -3.066      0.002     -14.176      -3.118
sales_channel_Web                 -6.3100      3.087     -2.044      0.041     -12.362      -0.258
vehicle_class_Four-Door Car        8.5341      7.339      1.163      0.245      -5.853      22.921
vehicle_class_Luxury Car          18.7922     13.360      1.407      0.160      -7.396      44.980
vehicle_class_Luxury SUV         -25.6515     13.092     -1.959      0.050     -51.314       0.011
vehicle_class_SUV                -14.4190      3.918     -3.680      0.000     -22.099      -6.739
vehicle_class_Sports Car         -24.6365      5.727     -4.302      0.000     -35.863     -13.410
vehicle_class_Two-Door Car         7.3549      7.786      0.945      0.345      -7.908      22.618
vehicle_type_A                   -30.0258      4.272     -7.029      0.000     -38.399     -21.652
coverage                         -11.2672      3.588     -3.141      0.002     -18.300      -4.235
education                         -7.2928      1.271     -5.736      0.000      -9.785      -4.801
vehicle_size                      -1.3505      2.614     -0.517      0.605      -6.475       3.773
customer_lifetime_value           -0.0001      0.000     -0.470      0.639      -0.001       0.000
income                            -0.0003   7.91e-05     -3.311      0.001      -0.000      -0.000
monthly_premium_auto               5.3537      0.130     41.313      0.000       5.100       5.608
months_since_last_claim            0.3743      0.138      2.717      0.007       0.104       0.644
months_since_policy_inception      0.0066      0.049      0.136      0.892      -0.089       0.102
number_of_open_complaints         -1.6350      1.522     -1.074      0.283      -4.619       1.349
number_of_policies                 0.7220      0.565      1.277      0.202      -0.386       1.830
month                              0.0277      2.699      0.010      0.992      -5.263       5.318
==============================================================================
Omnibus:                     4804.421   Durbin-Watson:                   1.981
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            59678.483
Skew:                           1.778   Prob(JB):                         0.00
Kurtosis:                      13.892   Cond. No.                     1.19e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.84e-21. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.